In [18]:

import pandas as pd
df = pd.read_csv('Finished.csv')

In [24]:
df = df.fillna(0)

In [26]:
df.

,Name:,School Name:,District Name:,Base Salary:,Other Salary:,Total Final Salary:,Insurance:,Mandatory Benefits:,Certificated FTE:,Certificated Experience:,Status:,Age,Gender,Highest Degree Type,Year of Degree:
0,Bernardo T Alonso,BainbridgeHigh School,BainbridgeIsland School District,"$84,681","$3,285","$87,966","$10,655","$20,829",1.0,14years,ContinuingIndividual,48,Male,Bachelor'sDegree,1994
1,Elizabeth A Ande,BainbridgeHigh School,BainbridgeIsland School District,"$79,511","$5,694","$85,205","$12,886","$20,185",1.0,12.3years,ContinuingIndividual,46,Female,Bachelor'sDegree,1997
2,Kaleb C Anderson,BainbridgeHigh School,BainbridgeIsland School District,"$57,032","$2,213","$59,245","$10,509","$14,135",1.0,3years,ContinuingIndividual,29,Male,Bachelor'sDegree,2015
3,Beth Abate Bacon,BainbridgeHigh School,BainbridgeIsland School District,"$12,795","$1,634","$14,429",$0,"$1,431",0.2,0.2years,BeginningIndividual,55,Female,Master's Degree,1992
4,Deborah Lynn Baker,BainbridgeHigh School,BainbridgeIsland School District,"$93,073","$3,610","$96,683","$10,509","$22,860",1.0,30.3years,ContinuingIndividual,57,Female,Master's Degree,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66101,TERRI LEE WENTZ,ZillahIntermediate School,ZillahSchool District,"$24,023",$0,"$24,023","$10,257","$5,334",0.0,0,ContinuingIndividual,58,Female,No Degree,No Degree
66102,MA DESIREE A CABANADA,HiltonElementary School,ZillahSchool District,"$52,132","$3,436","$55,568","$13,259","$13,184",1.0,2years,ContinuingIndividual,36,Female,Master's Degree,2016
66103,SCOTT M FISHER,HiltonElementary School,ZillahSchool District,"$80,168","$14,094","$94,262","$12,470","$22,110",1.0,23years,ContinuingIndividual,56,Male,Master's Degree,1993
66104,STEPHANIE N FLOOD,ZillahIntermediate School,ZillahSchool District,"$49,196","$6,152","$55,348","$9,851","$13,137",1.0,6years,ContinuingIndividual,36,Female,Bachelor'sDegree,2010
66105,SANDRA SIMMONS,HiltonElementary School,ZillahSchool District,"$26,928","$1,776","$28,704","$2,745","$10,761",0.5,5.4years,ContinuingIndividual,58,Female,Bachelor'sDegree,1985

In [118]:
df['Highest Degree Type'].value_counts()

 Master's Degree             31168
No Degree                    20412
 Bachelor'sDegree            13464
 Vocational/CTE                471
 Doctorate                     364
 GrandfatheredBachelor's       113
 SpecialCircumstances          106
 Bachelor'sDegree (H)            8
Name: Highest Degree Type, dtype: int64

In [34]:
df

,Name:,School Name:,District Name:,Base Salary:,Other Salary:,Total Final Salary:,Insurance:,Mandatory Benefits:,Certificated FTE:,Certificated Experience:,Status:,Age,Gender,Highest Degree Type,Year of Degree:
0,Bernardo T Alonso,BainbridgeHigh School,BainbridgeIsland School District,"$84,681","$3,285","$87,966","$10,655","$20,829",1.0,14years,ContinuingIndividual,48,Male,Bachelor'sDegree,1994
1,Elizabeth A Ande,BainbridgeHigh School,BainbridgeIsland School District,"$79,511","$5,694","$85,205","$12,886","$20,185",1.0,12.3years,ContinuingIndividual,46,Female,Bachelor'sDegree,1997
2,Kaleb C Anderson,BainbridgeHigh School,BainbridgeIsland School District,"$57,032","$2,213","$59,245","$10,509","$14,135",1.0,3years,ContinuingIndividual,29,Male,Bachelor'sDegree,2015
3,Beth Abate Bacon,BainbridgeHigh School,BainbridgeIsland School District,"$12,795","$1,634","$14,429",$0,"$1,431",0.2,0.2years,BeginningIndividual,55,Female,Master's Degree,1992
4,Deborah Lynn Baker,BainbridgeHigh School,BainbridgeIsland School District,"$93,073","$3,610","$96,683","$10,509","$22,860",1.0,30.3years,ContinuingIndividual,57,Female,Master's Degree,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66101,TERRI LEE WENTZ,ZillahIntermediate School,ZillahSchool District,"$24,023",$0,"$24,023","$10,257","$5,334",0.0,0,ContinuingIndividual,58,Female,No Degree,No Degree
66102,MA DESIREE A CABANADA,HiltonElementary School,ZillahSchool District,"$52,132","$3,436","$55,568","$13,259","$13,184",1.0,2years,ContinuingIndividual,36,Female,Master's Degree,2016
66103,SCOTT M FISHER,HiltonElementary School,ZillahSchool District,"$80,168","$14,094","$94,262","$12,470","$22,110",1.0,23years,ContinuingIndividual,56,Male,Master's Degree,1993
66104,STEPHANIE N FLOOD,ZillahIntermediate School,ZillahSchool District,"$49,196","$6,152","$55,348","$9,851","$13,137",1.0,6years,ContinuingIndividual,36,Female,Bachelor'sDegree,2010
66105,SANDRA SIMMONS,HiltonElementary School,ZillahSchool District,"$26,928","$1,776","$28,704","$2,745","$10,761",0.5,5.4years,ContinuingIndividual,58,Female,Bachelor'sDegree,1985

In [36]:
totalfinal = df['Total Final Salary:'].tolist()
insurance = df['Insurance:'].tolist()
benefits = df['Mandatory Benefits:'].tolist()
experience = df['Certificated Experience:'].tolist()

In [68]:
newtotalfinal = []
for item in totalfinal:
    item = item.replace('$', '')
    item = item.replace(',', '')
    item = int(item)
    newtotalfinal.append(item)

newinsurance = []
for item in insurance:
    item = item.replace('$', '')
    item = item.replace(',', '')
    item = int(item)
    newinsurance.append(item)
    
newbenefits = []
for item in benefits:
    item = item.replace('$', '')
    item = item.replace(',', '')
    item = int(item)
    newbenefits.append(item)

In [69]:
import numpy as np
newtotalfinalNP = np.array(newtotalfinal)
newinsuranceNP = np.array(newinsurance)
newbenefitsNP = np.array(newbenefits)

In [71]:
newinsuranceNP

array([10655, 12886, 10509, ..., 12470,  9851,  2745])

In [72]:
tot = np.add(newtotalfinalNP, newinsuranceNP)

In [74]:
total = np.add(tot, newbenefitsNP)

In [76]:
df['Sum of all'] = total

In [83]:
experience

[' 14years',
 ' 12.3years',
 ' 3years',
 ' 0.2years',
 ' 30.3years',
 ' 20.1years',
 ' 14.8years',
 0,
 ' 1years',
 ' 0.8years',
 ' 10.1years',
 ' 8.3years',
 ' 7.7years',
 0,
 ' 10.2years',
 ' 29years',
 ' 4.3years',
 ' 18.5years',
 ' 5.3years',
 ' 38.8years',
 ' 16.9years',
 ' 14years',
 ' 1years',
 ' 6years',
 ' 23.8years',
 ' 7.2years',
 ' 30.1years',
 0,
 ' 1.1years',
 ' 1years',
 ' 29years',
 ' 24.8years',
 ' 16.2years',
 ' 9.8years',
 ' 28.2years',
 ' 1.4years',
 ' 17years',
 ' 26years',
 0,
 ' 18.6years',
 ' 7years',
 ' 17.4years',
 ' 3years',
 ' 12.7years',
 ' 4.8years',
 ' 5years',
 ' 7.7years',
 ' 20.2years',
 ' 5.6years',
 ' 5.8years',
 0,
 ' 9.8years',
 ' 7years',
 ' 16.8years',
 0,
 ' 20.1years',
 ' 31years',
 0,
 0,
 ' 4.8years',
 0,
 0,
 ' 32years',
 ' 8years',
 ' 4.9years',
 ' 25.9years',
 ' 26years',
 ' 6.2years',
 ' 10.9years',
 ' 11.4years',
 ' 3years',
 ' 9.6years',
 0,
 ' 15years',
 ' 4years',
 ' 21years',
 ' 21years',
 0,
 ' 9.5years',
 0,
 0,
 ' 23.8years',
 ' 22years',
 ' 8.3years',
 0,
 0,
 ' 3years',
 0,
 0,
 0,
 ' 22.5years',
 ' 22years',
 0,
 0,
 0,
 ' 39.2years',
 ' 34years',
 0,
 ' 18.9years',
 0,
 ' 28.2years',
 ' 32.6years',
 ' 3.9years',
 0,
 ' 13years',
 0,
 ' 14years',
 0,
 ' 21.2years',
 ' 4.2years',
 ' 9.8years',
 ' 13.3years',
 ' 10.8years',
 ' 14.2years',
 0,
 ' 13.2years',
 ' 1.5years',
 0,
 ' 14.2years',
 0,
 ' 9.3years',
 ' 18.7years',
 0,
 ' 6.7years',
 ' 15.2years',
 0,
 ' 5.8years',
 0,
 0,
 0,
 ' 4.7years',
 ' 26.5years',
 0,
 ' 17.6years',
 ' 3.2years',
 0,
 ' 5.6years',
 0,
 ' 19.8years',
 ' 7.8years',
 ' 4.3years',
 0,
 0,
 ' 12.7years',
 ' 0.9years',
 0,
 ' 9.7years',
 ' 19.9years',
 ' 32years',
 0,
 ' 19.8years',
 ' 28.4years',
 ' 7.8years',
 0,
 0,
 ' 20.9years',
 ' 9.2years',
 0,
 ' 12.1years',
 ' 20years',
 ' 2.7years',
 ' 11.2years',
 ' 19.1years',
 ' 8.1years',
 ' 9years',
 ' 13.7years',
 ' 21.2years',
 ' 25.7years',
 0,
 ' 20.6years',
 ' 14.2years',
 ' 13.5years',
 ' 2years',
 ' 21.4years',
 ' 29years',
 ' 20.1years',
 ' 35years',
 0,
 0,
 ' 38years',
 ' 5.2years',
 ' 22.9years',
 0,
 ' 9.2years',
 ' 4.3years',
 ' 19years',
 ' 9.3years',
 ' 14.2years',
 0,
 ' 22.3years',
 0,
 ' 34.7years',
 ' 19.8years',
 ' 17.2years',
 0,
 ' 25years',
 0,
 ' 19years',
 0,
 ' 30.1years',
 0,
 0,
 ' 14.5years',
 0,
 0,
 ' 10.1years',
 ' 33years',
 ' 17.1years',
 0,
 ' 18.9years',
 ' 13.7years',
 ' 8.4years',
 ' 31.7years',
 ' 7.1years',
 ' 12.7years',
 0,
 0,
 ' 33.4years',
 ' 4years',
 ' 26.5years',
 ' 10.9years',
 0,
 0,
 ' 6.5years',
 ' 17years',
 0,
 ' 20.1years',
 ' 19.8years',
 ' 9.2years',
 0,
 ' 16years',
 0,
 ' 6.9years',
 ' 8.1years',
 ' 10.2years',
 ' 1.6years',
 ' 6.8years',
 0,
 ' 1years',
 0,
 ' 11.2years',
 ' 30.3years',
 ' 17.5years',
 ' 9.4years',
 ' 11.9years',
 0,
 ' 24.9years',
 0,
 0,
 ' 3years',
 ' 20years',
 ' 17.1years',
 0,
 ' 26years',
 ' 3years',
 ' 5years',
 ' 7.8years',
 ' 22.7years',
 ' 21years',
 ' 27years',
 ' 19.4years',
 0,
 ' 24.7years',
 ' 21.7years',
 0,
 ' 21.7years',
 0,
 ' 25.2years',
 ' 2.4years',
 ' 9years',
 ' 1years',
 ' 11.9years',
 ' 4.8years',
 0,
 ' 9.5years',
 0,
 0,
 0,
 0,
 ' 9.8years',
 ' 23.8years',
 0,
 ' 13.9years',
 ' 1years',
 0,
 0,
 ' 1years',
 ' 13.1years',
 ' 9.3years',
 ' 10years',
 ' 22years',
 ' 5.3years',
 ' 3years',
 0,
 ' 22.6years',
 ' 4years',
 0,
 ' 6.6years',
 ' 6.5years',
 ' 28.8years',
 ' 10.9years',
 ' 7.1years',
 ' 20years',
 ' 34.3years',
 0,
 ' 19years',
 0,
 ' 22.5years',
 ' 5.3years',
 ' 19years',
 0,
 0,
 ' 6.8years',
 ' 19years',
 ' 33.6years',
 ' 3years',
 ' 24.3years',
 ' 12.2years',
 ' 2.7years',
 0,
 0,
 ' 25.5years',
 ' 28.9years',
 0,
 ' 5.5years',
 ' 24.1years',
 ' 18.8years',
 ' 7.2years',
 ' 32years',
 ' 14.6years',
 ' 14years',
 ' 20.4years',
 0,
 ' 6.2years',
 0,
 0,
 ' 2.2years',
 ' 28.2years',
 ' 18.9years',
 ' 1years',
 0,
 ' 8.4years',
 ' 2.2years',
 ' 3years',
 ' 24.3years',
 0,
 ' 34.6years',
 0,
 0,
 ' 17years',
 0,
 ' 32.3years',
 0,
 ' 6years',
 0,
 ' 18.1years',
 0,
 ' 5.9years',
 ' 11.7years',
 0,
 ' 6.7years',
 ' 23years',
 0,
 ' 8years',
 ' 5.1years',
 0,
 ' 15.7years',
 0,
 ' 26.1years',
 ' 3years',
 ' 6years',
 0,
 ' 34.2years',
 0,
 ' 1.8years',
 ' 5.4years',
 0,
 ' 44.2years',
 ' 2.7years',
 ' 12.2years',
 ' 17.8years',
 ' 30.2years',
 ' 10.5years',
 0,
 0,
 0,
 ' 25.7years',
 0,
 ' 9.2years',
 ' 30years',
 0,
 0,
 0,
 ' 15.6years',
 ' 15.7years',
 ' 13.8years',
 0,
 ' 12.2years',
 0,
 ' 29.4years',
 ' 20.4years',
 ' 3years',
 ' 41.4years',
 ' 4.8years',
 0,
 ' 3.7years',
 ' 4.9years',
 ' 1years',
 0,
 0,
 ' 18.2years',
 ' 37.8years',
 ' 17.7years',
 ' 6years',
 0,
 0,
 ' 7.9years',
 ' 15years',
 0,
 ' 26years',
 ' 1years',
 ' 5years',
 ' 8.4years',
 ' 23.5years',
 ' 3years',
 ' 22.8years',
 0,
 0,
 ' 23.4years',
 0,
 ' 44years',
 ' 3years',
 0,
 ' 17years',
 ' 11.9years',
 0,
 ' 7.5years',
 ' 26years',
 ' 4years',
 ' 5.7years',
 ' 4.3years',
 0,
 0,
 0,
 ' 11.3years',
 ' 2years',
 ' 12.7years',
 0,
 ' 4years',
 0,
 0,
 0,
 ' 3.4years',
 0,
 0,
 ' 2.1years',
 0,
 ' 3.4years',
 ' 3.2years',
 ' 4.3years',
 ' 4years',
 ' 11.5years',
 ' 37years',
 0,
 ' 29.3years',
 ' 13years',
 0,
 ' 8.9years',
 ' 13years',
 ' 4.8years',
 ' 7.4years',
 0,
 ' 15.9years',
 0,
 ' 23.9years',
 ' 18.1years',
 0,
 0,
 ' 24.7years',
 0,
 ' 40.9years',
 0,
 ' 17years',
 ' 21.2years',
 0,
 0,
 ' 9.6years',
 0,
 0,
 0,
 ' 20.8years',
 ' 4.6years',
 ' 34.2years',
 ' 26.9years',
 ' 29.9years',
 0,
 ' 16years',
 ' 5.5years',
 ' 2.5years',
 ' 22.2years',
 ' 6.4years',
 ' 34.2years',
 ' 23years',
 0,
 ' 10.3years',
 ' 19.6years',
 ' 32.7years',
 ' 4.1years',
 ' 8years',
 ' 16years',
 0,
 ' 12.4years',
 0,
 0,
 ' 16.9years',
 ' 27years',
 ' 22years',
 0,
 ' 3.9years',
 0,
 ' 19.9years',
 ' 4years',
 ' 23.1years',
 ' 14years',
 0,
 ' 3years',
 0,
 ' 7years',
 ' 3years',
 ' 6.5years',
 ' 14.1years',
 0,
 0,
 ' 24.4years',
 0,
 ' 2years',
 ' 1years',
 ' 22years',
 0,
 0,
 ' 6years',
 0,
 ' 6.2years',
 0,
 ' 14.4years',
 0,
 ' 11years',
 ' 38years',
 ' 24.8years',
 ' 10.6years',
 ' 16.2years',
 ' 5years',
 ' 1.5years',
 ' 17years',
 ' 21.3years',
 ' 12.7years',
 0,
 ' 13.9years',
 ' 29.5years',
 ' 5years',
 ' 18years',
 0,
 0,
 ' 36.4years',
 ' 32.1years',
 ' 3.3years',
 ' 1.8years',
 0,
 ' 3years',
 ' 12.1years',
 ' 24years',
 ' 3.9years',
 0,
 0,
 0,
 ' 2years',
 0,
 ' 19years',
 ' 25.9years',
 0,
 ' 4.5years',
 ' 7.3years',
 ' 29years',
 0,
 ' 26years',
 ' 12.5years',
 ' 10.6years',
 ' 23years',
 ' 10years',
 ' 12years',
 ' 30years',
 ' 14years',
 ' 3.8years',
 ' 8.6years',
 ' 14years',
 0,
 0,
 ' 25years',
 ' 23.3years',
 ' 16.7years',
 ' 22.1years',
 ' 2years',
 ' 4.2years',
 ' 6.8years',
 ' 4.1years',
 ' 33years',
 ' 2years',
 ' 29.4years',
 ' 5.8years',
 ' 11years',
 ' 1years',
 ' 20.7years',
 0,
 0,
 ' 33.6years',
 ' 18years',
 ' 9.9years',
 0,
 0,
 ' 35.2years',
 ' 24.9years',
 ' 7.4years',
 ' 26.7years',
 ' 1.2years',
 0,
 ' 30years',
 ' 1years',
 ' 7.4years',
 ' 15years',
 ' 27.8years',
 ' 17.8years',
 0,
 ' 23.2years',
 0,
 ' 30.8years',
 ' 0.4years',
 0,
 ' 23years',
 ' 20.6years',
 ' 7.2years',
 ' 6.9years',
 0,
 ' 0.6years',
 ' 2years',
 0,
 ' 12.5years',
 0,
 0,
 ' 23.2years',
 ' 20.4years',
 0,
 ' 13.2years',
 0,
 0,
 0,
 ' 34.9years',
 0,
 ' 24.3years',
 ' 24years',
 0,
 ' 11.9years',
 ' 4.5years',
 ' 2years',
 ' 7years',
 0,
 ' 22years',
 0,
 ' 42years',
 ' 19.5years',
 ' 33.3years',
 ' 5.6years',
 ' 17years',
 ' 15.7years',
 ' 11.4years',
 ' 5.3years',
 0,
 0,
 0,
 0,
 0,
 ' 17.2years',
 ' 6.5years',
 ' 21.5years',
 0,
 ' 22years',
 ' 2years',
 ' 20.2years',
 0,
 ' 3.3years',
 0,
 ' 12years',
 ' 17.7years',
 0,
 ' 13.7years',
 ' 13.5years',
 ' 24years',
 ' 22.5years',
 ' 16.5years',
 ' 5.1years',
 ' 27years',
 0,
 ' 12years',
 ' 18years',
 ' 23years',
 ' 17years',
 ' 17.8years',
 ' 16.6years',
 ' 6.4years',
 ' 13.9years',
 ' 11years',
 0,
 ' 3.1years',
 ' 4.5years',
 0,
 ' 1years',
 0,
 0,
 0,
 ' 0.3years',
 ' 16.4years',
 ' 1.6years',
 ' 19years',
 ' 21years',
 ' 42.5years',
 0,
 ' 15.4years',
 ' 17.8years',
 ' 8years',
 ' 31years',
 ' 12years',
 ' 4.8years',
 ' 1years',
 ' 7.2years',
 ' 17.2years',
 ' 3years',
 ' 22years',
 ' 14.7years',
 0,
 ' 26.6years',
 ' 1.7years',
 ' 20.2years',
 ' 2years',
 ' 23.7years',
 ' 14.6years',
 0,
 ' 28.8years',
 ' 14.7years',
 0,
 ' 23.6years',
 ' 19years',
 ' 21.8years',
 0,
 ' 34.4years',
 ' 14.8years',
 ' 11.9years',
 ' 20.3years',
 ' 37.6years',
 ' 14.7years',
 0,
 ' 2years',
 ' 34.5years',
 ' 15.9years',
 ' 31years',
 ' 31.1years',
 ' 22.6years',
 0,
 ' 3years',
 0,
 ' 2.6years',
 0,
 0,
 ' 2.1years',
 0,
 0,
 ' 4years',
 0,
 0,
 ' 21years',
 ' 16.8years',
 0,
 ' 6years',
 0,
 ' 14years',
 0,
 ' 13.4years',
 ' 14.9years',
 0,
 ' 1years',
 0,
 ' 5.5years',
 ' 2years',
 ' 6.5years',
 ' 4.1years',
 ' 21.2years',
 0,
 ' 1.3years',
 ' 34.4years',
 ' 16.9years',
 ' 22.9years',
 ' 10years',
 ' 16.8years',
 0,
 0,
 ' 24.5years',
 ' 7.8years',
 0,
 ' 7years',
 0,
 ' 16years',
 ' 7years',
 ' 24.4years',
 ' 7.8years',
 0,
 0,
 0,
 ' 15years',
 0,
 0,
 ' 2years',
 ' 32.7years',
 ' 17.9years',
 0,
 ' 4years',
 ' 2.2years',
 0,
 ' 29.3years',
 ' 13.8years',
 ' 7years',
 ' 11.5years',
 0,
 ' 20.7years',
 0,
 ' 23.8years',
 ' 23.6years',
 ' 27years',
 ' 5years',
 ' 19.6years',
 0,
 ' 11years',
 ' 5years',
 ' 12.5years',
 ' 9years',
 0,
 0,
 ' 18years',
 ' 25years',
 ' 11.2years',
 0,
 ' 9.3years',
 0,
 0,
 0,
 ' 31.2years',
 ' 17.7years',
 0,
 0,
 ' 3years',
 ' 12years',
 0,
 0,
 ' 1years',
 0,
 ' 11.3years',
 0,
 0,
 ' 6.1years',
 ' 38.1years',
 ' 36.4years',
 ' 38years',
 0,
 0,
 ' 1.6years',
 ' 30years',
 ' 8.6years',
 0,
 0,
 0,
 0,
 ' 2.6years',
 ' 15.5years',
 0,
 ' 1.2years',
 ' 28.9years',
 0,
 ' 6years',
 0,
 ' 5years',
 ' 3.1years',
 0,
 0,
 ' 2.3years',
 ' 18.3years',
 0,
 0,
 ' 16.8years',
 0,
 0,
 ' 3.7years',
 ' 1years',
 0,
 ' 2years',
 ' 30.2years',
 ' 7.4years',
 0,
 ' 5years',
 ' 7.8years',
 ' 7years',
 ' 16.2years',
 ' 9.5years',
 ' 24.8years',
 ' 9years',
 0,
 ' 7.8years',
 0,
 ' 16years',
 ' 2.2years',
 0,
 ' 21.8years',
 0,
 ' 12.1years',
 ' 44.4years',
 0,
 0,
 ' 6.3years',
 0,
 ' 24.8years',
 ' 17.5years',
 ' 1years',
 ' 32.6years',
 ' 29years',
 0,
 0,
 ' 21.7years',
 ' 3years',
 0,
 0,
 0,
 0,
 0,
 0,
 ' 4.4years',
 ' 28years',
 0,
 ' 4.1years',
 ' 5years',
 ' 5.9years',
 ' 33.5years',
 ' 1years',
 ' 7.1years',
 ' 23.5years',
 ' 22.6years',
 ' 1.7years',
 ' 16.8years',
 ' 21.3years',
 ' 1.1years',
 0,
 ' 3years',
 0,
 ' 23years',
 ' 17.6years',
 ' 26.5years',
 ' 7.8years',
 0,
 0,
 ' 14.8years',
 0,
 ' 27.5years',
 0,
 ' 29.6years',
 ' 25.5years',
 ' 28.8years',
 ' 4.1years',
 ' 16.5years',
 ' 31.6years',
 0,
 ' 23.3years',
 0,
 ' 12.9years',
 0,
 0,
 0,
 ' 25years',
 0,
 ' 26.7years',
 ' 22.1years',
 ' 10.9years',
 0,
 ' 35years',
 ' 4years',
 ' 16.8years',
 ' 23.6years',
 ' 12.3years',
 ' 18years',
 ' 11.4years',
 ' 7.2years',
 ' 3.1years',
 0,
 ' 33years',
 ' 7.8years',
 ' 15.4years',
 ...]

In [93]:
newexperience = []
for row in experience:
    if (row == 0):
        newexperience.append(0)
    else:
        row = row.replace('years', '')
        row = float(row)
        newexperience.append(row)

In [95]:
len(newexperience)

66106

In [29]:
schoolnames = df['School Name:'].tolist()

In [31]:
high = 0
middle = 0
elem = 0
for school in schoolnames:
    if "High School" in school:
        high = high + 1
    elif "Middle School" in school:
        middle = middle +1
    elif "Junior High" in school:
         middle = middle +1
    elif "Intermediate" in school:
        middle = middle +1
    elif "Elementary" in school:
        elem = elem + 1
    elif "Elem" in school:
        elem = elem + 1

In [33]:
print("high", high, " and middle:", middle, " and elem, ", elem)

high 14498  and middle: 10344  and elem,  34147

In [30]:
#66106 schools
schoolnames

#Elementary or #Elem
#High School
#Junior High, Middle School, Intermediate

['BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'WoodwardMiddle School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'Capt.Charles Wilkes Elem School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'BainbridgeHigh School',
 'CaptJohnston Blakely Elem Sch',
 'CaptJohnston Blakely Elem Sch',
 'CaptJohnston Blakely Elem Sch',
 'CaptJohnston Blakely Elem Sch',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'SonojiSakai Intermediate',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'CaptJohnston Blakely Elem Sch',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'OrdwayElementary',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'Capt.Charles Wilkes Elem School',
 'EagleHarbor High School',
 'EagleHarbor High School',
 'EagleHarbor High School',
 'HomeschoolSupport Program',
 'EagleHarbor High School',
 'HomeschoolSupport Program',
 'HomeschoolSupport Program',
 'EagleHarbor High School',
 'HomeschoolSupport Program',
 'BainbridgeIsland School District',
 'HomeschoolSupport Program',
 'HomeschoolSupport Program',
 'EagleHarbor High School',
 'EagleHarbor High School',
 'OdysseyMultiage Program',
 'EagleHarbor High School',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'OrdwayElementary',
 'HomeschoolSupport Program',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'SonojiSakai Intermediate',
 'OrdwayElementary',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'BainbridgeHigh School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'WoodwardMiddle School',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'KitsapLake Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'ArminJahr Elementary',
 'BremertonHigh School',
 'BremertonHigh School',
 'BremertonHigh School',
 'BremertonHigh School',
 'BremertonHigh School',
 'BremertonHigh School',
 'BremertonHigh School',
 'Career& Academic Re-engagement Center',
 'Career& Academic Re-engagement Center',
 'CrownhillElementary School',
 'CrownhillElementary School',
 'CrownhillElementary School',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'KitsapLake Elementary',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'BremertonHigh School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'MountainView Middle School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'NavalAvenue Elementary School',
 'RenaissanceAlternative High School',
 'Career& Academic Re-engagement Center',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'CrownhillElementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'ViewRidge Elementary School',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'BremertonSchool District',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'BremertonSchool District',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'WestHills Elementary',
 'MountainView Middle School',
 'MountainView Middle School',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'WestSound Technical Skills Center',
 'AlternativeHigh School',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'EsquireHills Elementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'BrownsvilleElementary',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'KingstonHigh School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'RidgetopJunior High',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',
 'CentralKitsap High School',

In [96]:
df['Experience'] = newexperience

In [99]:
finalframe = df.drop(['Base Salary:', 'Other Salary:', 'Total Final Salary:', 'Insurance:', 'Mandatory Benefits:',
                     'Certificated Experience:', 'School Name:', 'District Name:', 'Year of Degree:'], axis = 1)

In [100]:
finalframe

,Name:,Certificated FTE:,Status:,Age,Gender,Highest Degree Type,Sum of all,Experience
0,Bernardo T Alonso,1.0,ContinuingIndividual,48,Male,Bachelor'sDegree,119450,14.0
1,Elizabeth A Ande,1.0,ContinuingIndividual,46,Female,Bachelor'sDegree,118276,12.3
2,Kaleb C Anderson,1.0,ContinuingIndividual,29,Male,Bachelor'sDegree,83889,3.0
3,Beth Abate Bacon,0.2,BeginningIndividual,55,Female,Master's Degree,15860,0.2
4,Deborah Lynn Baker,1.0,ContinuingIndividual,57,Female,Master's Degree,130052,30.3
...,...,...,...,...,...,...,...,...
66101,TERRI LEE WENTZ,0.0,ContinuingIndividual,58,Female,No Degree,39614,0.0
66102,MA DESIREE A CABANADA,1.0,ContinuingIndividual,36,Female,Master's Degree,82011,2.0
66103,SCOTT M FISHER,1.0,ContinuingIndividual,56,Male,Master's Degree,128842,23.0
66104,STEPHANIE N FLOOD,1.0,ContinuingIndividual,36,Female,Bachelor'sDegree,78336,6.0
66105,SANDRA SIMMONS,0.5,ContinuingIndividual,58,Female,Bachelor'sDegree,42210,5.4

In [104]:
finalframe = finalframe.set_index(['Name:'])

In [106]:
degreedummy = pd.get_dummies(finalframe['Highest Degree Type'])
genderdummy = pd.get_dummies(finalframe['Gender'])
statusdummy = pd.get_dummies(finalframe['Status:'])

# merged = pd.concat

In [109]:
merged = pd.concat([finalframe, degreedummy, genderdummy, statusdummy], axis = 'columns')

In [111]:
finalframe = merged.drop(['Status:', 'Gender', 'Highest Degree Type'], axis = 1)

In [126]:
finalframe

,Certificated FTE:,Age,Sum of all,Experience,Bachelor'sDegree,Bachelor'sDegree (H),Doctorate,GrandfatheredBachelor's,Master's Degree,SpecialCircumstances,...,No Degree,0,Female,Male,0,BeginningIndividual,ContinuingIndividual,New Employee,Re-enteringIndividual,Transferring toDistrict
Name:,,,,,,,,,,,,,,,,,,,,,
Bernardo T Alonso,1.0,48,119450,14.0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Elizabeth A Ande,1.0,46,118276,12.3,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
Kaleb C Anderson,1.0,29,83889,3.0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Beth Abate Bacon,0.2,55,15860,0.2,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
Deborah Lynn Baker,1.0,57,130052,30.3,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TERRI LEE WENTZ,0.0,58,39614,0.0,0,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
MA DESIREE A CABANADA,1.0,36,82011,2.0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
SCOTT M FISHER,1.0,56,128842,23.0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
STEPHANIE N FLOOD,1.0,36,78336,6.0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
SANDRA SIMMONS,0.5,58,42210,5.4,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [128]:
finalframe.columns

Index([        'Certificated FTE:',                       'Age',
                      'Sum of all',                'Experience',
              ' Bachelor'sDegree ',    ' Bachelor'sDegree (H) ',
                     ' Doctorate ', ' GrandfatheredBachelor's ',
                ' Master's Degree',    ' SpecialCircumstances ',
                 ' Vocational/CTE',                 'No Degree',
                                 0,                    'Female',
                            'Male',                           0,
            ' BeginningIndividual',     ' ContinuingIndividual',
                   ' New Employee',    ' Re-enteringIndividual',
        ' Transferring toDistrict'],
      dtype='object')

In [138]:
finalframe = finalframe.drop([" GrandfatheredBachelor's ",  " Bachelor'sDegree (H) "], axis = 1)

In [142]:
finalframe = finalframe.drop(0, axis = 1)

In [143]:
finalframe.columns

Index(['Certificated FTE:', 'Age', 'Sum of all', 'Experience',
       ' Bachelor'sDegree ', ' Doctorate ', ' Master's Degree',
       ' Vocational/CTE', 'No Degree', 'Female', 'Male',
       ' BeginningIndividual', ' ContinuingIndividual', ' New Employee',
       ' Re-enteringIndividual', ' Transferring toDistrict'],
      dtype='object')

In [144]:
finalframe

,Certificated FTE:,Age,Sum of all,Experience,Bachelor'sDegree,Doctorate,Master's Degree,Vocational/CTE,No Degree,Female,Male,BeginningIndividual,ContinuingIndividual,New Employee,Re-enteringIndividual,Transferring toDistrict
Name:,,,,,,,,,,,,,,,,
Bernardo T Alonso,1.0,48,119450,14.0,1,0,0,0,0,0,1,0,1,0,0,0
Elizabeth A Ande,1.0,46,118276,12.3,1,0,0,0,0,1,0,0,1,0,0,0
Kaleb C Anderson,1.0,29,83889,3.0,1,0,0,0,0,0,1,0,1,0,0,0
Beth Abate Bacon,0.2,55,15860,0.2,0,0,1,0,0,1,0,1,0,0,0,0
Deborah Lynn Baker,1.0,57,130052,30.3,0,0,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TERRI LEE WENTZ,0.0,58,39614,0.0,0,0,0,0,1,1,0,0,1,0,0,0
MA DESIREE A CABANADA,1.0,36,82011,2.0,0,0,1,0,0,1,0,0,1,0,0,0
SCOTT M FISHER,1.0,56,128842,23.0,0,0,1,0,0,0,1,0,1,0,0,0
STEPHANIE N FLOOD,1.0,36,78336,6.0,1,0,0,0,0,1,0,0,1,0,0,0
SANDRA SIMMONS,0.5,58,42210,5.4,1,0,0,0,0,1,0,0,1,0,0,0

In [146]:
finalframe = finalframe.drop('Male', axis = 1)

In [164]:
fuck = finalframe

In [160]:
fuck.columns

Index(['Certificated FTE:', 'Age', 'Sum of all', 'Experience',
       ' Bachelor'sDegree ', ' Doctorate ', ' Master's Degree',
       ' Vocational/CTE', 'No Degree', 'Female', ' BeginningIndividual',
       ' ContinuingIndividual', ' New Employee', ' Re-enteringIndividual',
       ' Transferring toDistrict'],
      dtype='object')

 Not Released     5156
 49               1895
 50               1845
 51               1785
 42               1738
                  ...
 120                 3
 84                  2
 83                  2
 119                 1
 88                  1
Name: Age, Length: 68, dtype: int64

In [168]:
#Linear Regression
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
import matplotlib.pyplot as plt 

X = finalframe.drop(['Sum of all', 'Age'], axis = 1)
y = finalframe['Sum of all']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25) 
  
regr = LinearRegression() 
regr.fit(X_train, y_train) 
print(regr.score(X_test, y_test))

0.8406682346914146

In [171]:
import statsmodels.api as sm
models = sm.OLS(y,X)
result = models.fit()
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:             Sum of all   R-squared (uncentered):              -13255.944
Model:                            OLS   Adj. R-squared (uncentered):         -13258.551
Method:                 Least Squares   F-statistic:                             -5084.
Date:                Mon, 01 Jun 2020   Prob (F-statistic):                        1.00
Time:                        04:45:44   Log-Likelihood:                     -7.3606e+05
No. Observations:               66106   AIC:                                  1.472e+06
Df Residuals:                   66093   BIC:                                  1.472e+06
Df Model:                          13
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Certificated FTE:         8.182e+04    600.818    136.184      0.000    8.06e+04     8.3e+04
Experience                1664.0704      8.592    193.668      0.000    1647.229    1680.911
 Bachelor'sDegree         2689.4643   1107.726      2.428      0.015     518.321    4860.607
 Doctorate                2.473e+04   1399.706     17.670      0.000     2.2e+04    2.75e+04
 Master's Degree          1.827e+04   1101.191     16.596      0.000    1.61e+04    2.04e+04
 Vocational/CTE           9297.4367   1338.430      6.947      0.000    6674.115    1.19e+04
No Degree                 4.412e+04   1246.836     35.387      0.000    4.17e+04    4.66e+04
Female                   -1077.2592    156.244     -6.895      0.000   -1383.498    -771.021
 BeginningIndividual     -9309.3670   1289.999     -7.217      0.000   -1.18e+04   -6780.969
 ContinuingIndividual    -2199.4451   1250.524     -1.759      0.079   -4650.471     251.581
 New Employee            -1.083e+04   1285.297     -8.425      0.000   -1.33e+04   -8309.499
 Re-enteringIndividual   -4727.2235   1303.312     -3.627      0.000   -7281.715   -2172.732
 Transferring toDistrict -6218.0253   1316.274     -4.724      0.000   -8797.922   -3638.129
==============================================================================
Omnibus:                     9848.008   Durbin-Watson:                   1.306
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           164490.939
Skew:                           0.039   Prob(JB):                         0.00
Kurtosis:                      10.727   Cond. No.                         774.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.